{% extends 'base.html' %}

{% block title_block %}- Home{% endblock %}

{% block body_block %}
<div class="bg-light py-4">
	<div class="container">
		<div class="text-center">
			<div class="display-4"><i class="far fa-calendar-alt"></i> Today is</div>
			<h3 id="today" class="text-danger"></h3>
			<h4 class="text-muted mt-3"><i class="far fa-clock"></i> <span id="current-time"></span></h4>
		</div>
	</div>
</div>
<div class="section-padding">
	<div class="container">
		<div class="welcome-text">
			<p class="display-4 text-center">Create your <span class="text-danger">work</span> list<span class="text-danger">.</span></p><br>
			<p>This is a simple to-do application, where you can track your daily tasks.
After registering an account you can create your personal to do.
This app increase your daily productivity.</p>

			<p>After creating a task you can set it as an important task based on your preference.
				You can checked a task after finishing that.
				You can also delete the unnecessary tasks.</p>
		</div>
		<div class="text-center">
			{% if not user.is_authenticated %}
			<a href="{% url 'accounts:register' %}" class="btn btn-danger">
				<i class="fa fa-hourglass-start"></i>
				Getting started
			</a>
			{% else %}
			<a href="{% url 'todo:create' %}" class="btn btn-primary">
				<i class="fa fa-hourglass-start"></i>
				Create task
			</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}